In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

SEED = 123
N_TRAIN_ROWS = 10000

In [2]:
train_df = pd.read_csv("../data/train.csv", nrows = N_TRAIN_ROWS)
test_df = pd.read_csv("../data/test.csv")

In [3]:
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [4]:
train_df.shape

(10000, 8)

In [5]:
X_train, X_val, y_train, y_val = train_test_split(train_df.drop("fare_amount", axis=1), train_df["fare_amount"], test_size=0.2, random_state=SEED)

In [6]:
X_train.shape, y_train.shape

((8000, 7), (8000,))

In [7]:
X_val.shape, y_val.shape

((2000, 7), (2000,))

In [8]:
train_df = pd.merge(X_train.reset_index(), y_train.reset_index(), on=["index"], how="left").drop("index", axis=1)
val_df = pd.merge(X_val.reset_index(), y_val.reset_index(), on=["index"], how="left").drop("index", axis=1)

In [9]:
train_df.shape, val_df.shape

((8000, 8), (2000, 8))

In [10]:
# save to parquet
train_df.to_parquet("../data/train.parquet")
val_df.to_parquet("../data/val.parquet")

In [15]:
# add randomized test df
test_df.to_parquet("../data/production.parquet")